footer{
    margin-bottom: 20px;
}
.contact{
    .map{
        width: 100%;
        box-sizing: border-box;
        padding-bottom: 80px; 
        .google-map{
            width: 100%;
            height: 500px;
            display: block;
            margin-top: 40px;
        }
    }
    .socials{
        display: block;
        margin: auto;
        max-width: 1100px;
        border-top: 1px solid $Blue;
        padding-top: 20px;
        text-align: center;
        a{
            font-size: 16pt;
            color: black;
            :hover{
                color: $Yellow;
            }
            svg{
                padding: 20px;
            }
        }
    }
}

@media screen and (max-width: 1099px){
    .contact{
        .map{
            .google-map{
                height: 300px;
            }
        }
    }
}