header{
    margin-bottom: 0px;

    .nav{
        margin: auto;
        max-width: 1100px;
        img{
            padding: 40px 0px;
            height: 100px;
            float: left;
        }
        // Animated header Nav
        .AHnavImg{
            height: 80px;
        }
        .menu{
            margin-top: 93px;
            float: right;
            li{
                list-style-type: none;
                display:inline;
            }
            a{
                text-decoration: none;
                display:inline-block;
                padding: 28px 0px 22px 50px;
                color: $Blue;
                text-transform: uppercase;
                font-family: "Neo Sans Pro", "source sans pro";
            }
        }
        .AHnavMenu{
            margin-top: 73px;
        }
    }
    .banner{
        width: 100%;
        height: 400px;
        display: table;
        margin: 10px 0px;
        .bannerImg{
            width: 50%;
            height: 100%;
            float: left;
            background-image: url(https://www.arteveldehogeschool.be/sites/default/files/styles/toplarge/public/general/campus_mariakerke_2.jpg?itok=61iYpMh7);
            background-position: right;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .bannerText{
            margin-top: 42px;
            z-index: 3;
            width: 50%;
            height: 100%;
            float: left;
            position: relative;
        }
        .bannerText>div::before{
            border-left: 40px solid transparent;
            border-top: 210px solid $Green;
            border-bottom: 210px solid $Green;
            margin-top: -72px;
            margin-left: -60px;
            z-index: -1;
            width: 100%;
            content: '';
            position: absolute;
        }
        .bannerText>div{
            max-width: 550px; 
            box-sizing: border-box;
            padding: 20px;
            h1{
                color: white;
                padding-bottom: 5px;
                text-align: left;
            }
            .info{
                margin-top: 20px;
                margin-bottom: 30px;
            }
            p{
                color: white;
                margin-bottom: 5px; 
                .icon{
                    width: 15px;
                    padding-right: 10px; 
                }
            }
        }
    }
}

// Animated header Nav
.AHnav{
    height: 60px;
}

.bm-burger-button{
    display: none;
    position: fixed;
    width: 36px;
    height: 30px;
    right: 50px;
    top: 80px;
}
.bm-burger-bars {
    background: $Magenta;
  }
.bm-item-list{
    background-color: $Magenta;
    svg{
        margin-right: 20px;
        width: 30px;
    }
    a{
        display: block;
        outline: none;
        box-sizing: border-box;
        padding: 25px 40px;
        font-size: 1.50em;
        color: white;
        font-family: "Neo Sans Pro", "source sans pro";
    }
    >div:first-child{
        padding-top: 60px; 
    }
}

@media screen and (max-width: 1100px){
    .menu{
        display: none;
    }
    .bm-burger-button{
        display: block;
    }
    header .nav>img{
        height: 80px;
        padding: 40px;
        //background-color: red;
    }
}



@media screen and (max-width: 1060px){
    header{
        width: 100%;
        background-color: white;
        .banner{
            margin-bottom: 20px;
            .bannerImg{
                width: 100%;
                height: 250px;
            }
            >div{
                background-color: $Green;
            }
            .bannerText>div::before{
                content: none;
            }
            .bannerText{
                height: auto;
                width: 100%; 
                margin-top: 0px;
                >div{
                    width: 80%;
                    margin: 20px auto;
                }
                .info{
                    line-height: 2;
                }
            }
                 
        }
        
    }
    .bm-burger-button{
        display: block;
    }
}

@media screen and (max-width: 600px){
        header .nav > img{
            height: 60px;
            width: 200px;
        }
        .bm-burger-button{
            width: 36px;
            height: 30px;
            right: 50px;
            top: 65px;
        }
        
}
@media screen and (max-width: 380px){
    #head>div>.bm-menu-wrap{
            width: 100% !important;
    }
    
}



